@import "reset.css";

/* html, body {
  overflow: auto;
} */

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: bold;
}

ul {
  list-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  /* pointer-events: none; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.nav {
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: white;
  border-bottom: 1px solid lightgray;
}

.nav-placeholder {
  height: 50px;
}

.nav-hamburger {
  font-size: 42px;
  display: block;
  margin-top: 2px;
  margin-left: 20px;
}

.nav-icon {
  height: 38px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.retry {
  font-family: Helvetica;
  font-size: 18px;
  white-space: nowrap;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.retry-button {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.campaign-feed {
  
}

.campaign {
  width: 100%;
  /* margin-top: 50px; */
  float: left;
  clear: left;
}

.campaign-header {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 98px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.campaign-icon {
  float: left;
  height: 65%;
  margin-left: 20px;
}

.campaign-details {
  float: left;
  margin-left: 15px;
  font-size: 18px;
  font-family: Helvetica;
}

.campaign-name {
  margin-bottom: 10px;
}

.campaign-pay {
  margin-top: 10px;
  color: green;
}

.campaign-media {
  display: flex;
  overflow: auto;
}

.media-placeholder {
  min-width: 20px;
}

.campaign-media-item {
  height: 246px;
  margin-left: 19px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cover-container {
  margin-bottom: 5px;
  position: relative;
  z-index: -1;
}

.media-item-cover {
  /* -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  -o-filter: grayscale(40%);
  -ms-filter: grayscale(40%);
  filter: grayscale(40%);  */
}

.cover-overlay {
  border-radius: 10px;
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;
}

.media-item-options {
  width: 100px;
}

.copy {
  width: 50px;
  border-color: 100px solid black;
  border-top-left-radius: 5px;
}

.download {
  width: 50px;
  border-color: 2px solid black;
  border-top-right-radius: 5px;
}

div.clear {
  clear: both;
}

.copy {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.copy:hover,
.copy:focus {
text-decoration: none;
}